*{
    margin: 0; 
    padding: 0;  
    overflow-y:auto;
}
.container{
    background-image: url("https://bit.ly/2HW16tb");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    text-align: center;
    background-attachment: fixed;
}
#p{
    padding-top: 300px;
    color:black;
    font-size: 40px;
    font-variant: small-caps;
}
h1{
    text-align: center;
    font-size: 100px;
    color: red;
}
.about{
    text-align: center;
    background-color:black;
    color: white;
    font-size: larger;
}
table{
    padding-left:50px;
    padding-right: 50px;
    margin: 30px;
    border: 10px;
    height: 100px;
    padding-top: 3px;
    background-color: forestgreen;
    width: auto;
}
.one{
    background-color: tomato;
}
.contact{
    text-align: center;
}
.footer{
    text-align: center;
}
td{
    height: 100px;
    vertical-align: middle;
    padding: 70px;
    text-align: center;
    width: auto;
}
.size:hover{
    background-image: url("https://bit.ly/2TkNJYD");
    height: 60px;
    font-size: large;
    color: black;
    background-color: thistle;
    background-size: cover;
}
.crust:hover{
    background-image: url("https://bit.ly/2VrK7XF");
    height: 60px;
    font-size: large;
    color: black;
    background-size: cover;
}
.toppings:hover{
    background-image: url("https://bit.ly/394bUBt");
    height: 60px;
    font-size: large;
    color: black;
    background-size: cover;
}
h5{
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}

.quantity:hover{
    background-image: url("https://bit.ly/2Pry4Ww");
    height: 60px;
    font-size: large;
    color:rgb(2, 6, 27);
    width: 100px;
    background-size: cover;
    font-size: 1000;
    text-align: center;
    font-size: xx-large;
}
#submit button {
    color: black;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    font-size:7000;
    font-weight: bolder;
    width: 130px;
    border-radius: 30px;
    background-color: grey;
    height: 70px;
    padding-right: 40px;
  }
#add:hover{
       background-image: url("https://bit.ly/2Pyr5uS");
  }
  h4{
    text-align: center;
    padding-top: 30px;
    color: green;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about,table,#submit button,#add:hover,.contact,.footer,.container,.one.container-fluid,#size:hover,#crust:hover,#toppings:hover,#quantity:hover{
         width: 100%;
    } 
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .about,table,#submit button,#add:hover,.contact,.footer,.container,.one.container-fluid,#size:hover,#crust:hover,#toppings:hover,#quantity:hover{
         width: 100%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about,table,#submit button,#add:hover,.contact,.footer,.container,.one.container-fluid,#size:hover,#crust:hover,#toppings:hover,#quantity:hover{
         width: 100%;
    }  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about,table,#submit button,#add:hover,.contact,.footer,.container,.one,.container-fluid,#size:hover,#crust:hover,#toppings:hover,#quantity:hover{
         width: 100%;
    }    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about,table,#submit button,#add:hover,.contact,.footer,.container,.one.container-fluid,#size:hover,#crust:hover,#toppings:hover,#quantity:hover{
         width: 100%;
    }    
}